<div class="row">	
	<div class="col-md-1" style="padding-left: 0px;">
    <figure class="avatar-small avatar-round">
      <% @user = @sender %>
      <%= render :partial => 'shared/user_avatar', :object => @sender %> 
    </figure> 
	</div>
	<div class="col-md-11" style="padding-left: 0px;">
		<b><%= @sender_name %></b>

		<p>
			<%= @text %>
		</p>	
	</div>
</div>