<ul class="omniauth-links">
	<!--
	<li>
		<%# link_to user_github_omniauth_authorize_path, class: "btn btn-primary btn-block signup-login-form__btn-xl btn-large btn-login btn-flat margin-bottom-sm" do %>
			<i class="fa fa-github" aria-hidden="true"></i> &nbsp; Log in with Github
		<%# end %>
	</li>
	<li>
		<%# link_to user_google_oauth2_omniauth_authorize_path, class: "btn btn-primary btn-block signup-login-form__btn-xl btn-large btn-login btn-flat " do %>
			<i class="fa fa-google" aria-hidden="true"></i> &nbsp; Log in with Google
		<%# end %>
	</li>
	
	<li>
		<%# link_to user_linkedin_omniauth_authorize_path, class: "btn btn-primary btn-linkedin btn-block signup-login-form__btn-xl btn-large btn-login btn-flat margin-bottom-sm" do %>
			<i class="fa fa-linkedin" aria-hidden="true"></i> &nbsp; Log in with Linkedin
		<%# end %>
	</li>
	
	<li>
		<%# link_to user_twitter_omniauth_authorize_path, class: "btn btn-primary btn-twitter btn-block signup-login-form__btn-xl btn-large btn-login btn-flat margin-bottom-sm" do %>
			<i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; Log in with Twitter
		<%# end %>
	</li>
	-->
</ul>