#indexEventDates{
  margin-bottom: 10px;    
}

#indexEventDates li{
  display: inline;
  background-color: #fff;
  padding: 8px 0px;
}

#indexEventDates li a{
  color: #6a6a6a;
  font-size: 12px;
}

.breadcrumb > li + li:before {
  color: #ccc;
  content: " ";
  padding: 0 5px;
}

.list-active a{
  font-weight: 700;
}

.activeEventDate a{
  background-color: #dedede;
  border-color: #e6e6e6;
  box-shadow: none;
}
