<div class="container full-height-95">
  <div class="row full-height-95">
    <div class="col-md-12 full-height-95">
      <%= yield %>          
      <%= render 'layouts/footer' %> 
    </div>
  </div>
</div>